BT_NETWORK=test
BT_NETUID=<NETUID>
BT_WALLET_NAME=miner
BT_WALLET_HOTKEY=default
BT_WALLET_PATH=/home/cathedral/.bittensor/wallets
BT_AXON_PORT=8091
BT_EXTERNAL_IP=<PUBLIC_IPV4>
CATHEDRAL_SOLVER_COMMAND=kissat {cnf}
CATHEDRAL_SOLVER_TIMEOUT=45
CATHEDRAL_MINER_CONCURRENCY=1
CATHEDRAL_VALIDATOR_RPM=4
CATHEDRAL_RESPONSE_CACHE_SIZE=4096
