BT_NETWORK=test
BT_NETUID=<NETUID>
BT_WALLET_NAME=validator
BT_WALLET_HOTKEY=default
BT_WALLET_PATH=/home/cathedral/.bittensor/wallets
CATHEDRAL_THIN_STATE=/var/lib/cathedral-thin/validator.json
CATHEDRAL_THIN_SCORE_POLICY=/etc/cathedral-thin/score-policy.json
CATHEDRAL_THIN_DECISION_DIR=/var/lib/cathedral-thin/decisions
CATHEDRAL_THIN_VARS=384
CATHEDRAL_THIN_CLAUSES=1635
CATHEDRAL_THIN_TIMEOUT=45
CATHEDRAL_THIN_REFERENCE_MS=15000
CATHEDRAL_THIN_ROUND_BLOCKS=100
